.btn-effect {
    color: $black !important;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    border: none;
    width: 200px;
    text-align: center;
    border: 1px solid $black;
    margin: 0 0 1em 5.5em;
    }

.btn-effect:hover {
    @include text-shadow;
    transition: all 0.4s ease;
    text-decoration: none;
    background: $black;
    color: $white !important;
    }