.btn-effect {
    color: #fff !important;
    text-transform: uppercase;
    background: $black;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 200px;
    text-align: center;
    }

.btn-effect:hover {
    @include text-shadow;
    transition: all 0.2s ease;
    text-decoration: none;
    background: #000000;
    }