//Landing Footer

ul#landingSocial {
    padding-top: 0;
    margin-top: 2em;
  }

#landingSocial li {
    display: inline;
    margin-left: 1.2em;
}
  
#landingSocial img {
    width: 50px;
    padding: 0;
    margin: 0;
  }

#landingSocial a {
    padding: 0;
}

#bottomSocial {
    margin-top: 1em;
    margin-left: 4em;
}

#footerText{
    text-align: center;
    color: $white;
    margin-bottom: 1.5em;
}

@media screen and (min-width: 375px) {
    ul#landingSocial {
        padding: 4em;
    }

    #bottomSocial {
        margin-left: 6em;
    }
}

@media screen and (min-width: 425px) {
    ul#landingSocial {
        padding: 6em;
        margin-top: 0;
    }

    div#bottomSocial {
        margin:0;
    }

    #footerText{
        float:right;
        margin: 0;
    }
}

@media screen and (min-width: 560px) {
    ul#landingSocial {
        padding-left: 10em;
        margin-top: 1em;
    }  
    
    #bottomSocial {
        margin-left: 13em;
    }
}

@media screen and (min-width: 768px) {
    #footerLanding {
        margin-top: 2em;
    }

    ul#landingSocial {
        padding-left: 16.5em;
    }
}

@media screen and (min-width: 888px) {
    ul#landingSocial {
        padding-left: 20em;
    }
}

@media screen and (min-width: 940px) {
    ul#landingSocial {
        padding-left: 23em;
    }
}

@media screen and (min-width: 1024px) {
    ul#landingSocial {
        padding: 1em 0 1.5em 24em;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1430px) {
    ul#landingSocial {
        padding-left: 34em;
    }
}

@media screen and (min-width: 1435px) {
    ul#landingSocial {
        padding-left: 37em;
    }
}


@media screen and (min-width: 1440px) {
    ul#landingSocial {
        padding: 0 0 0 37em;
    }
}


//Rest of the pages footer
footer#footerPages {
    padding: 1em 1em 1em 0em;
    background-color: $black;
}

#footerPages p {
    color: $white;
}

#bottomSocial ul li {
    display: inline;
  }
  
#bottomSocial img {
    width: 30px;
    padding: 0;
    margin: 0;
  }


#bottomSocial {
    position: relative;
    cursor: pointer;
    z-index: 999;
}


#footerText{
    color: $white;
    margin-bottom: 1.5em;
}