//Landing Footer
#footerLanding {
    margin-top: 3em;
}

ul#landingSocial {
    display: inline;
  }

#landingSocial li {
    display: inline;
    margin-left: 1em;
    padding-left: 5px;
}
  
#landingSocial img {
    width: 50px;
    padding: 0;
    margin: 0;
  }

#landingSocial a {
    padding: 0;
}

@media screen and (min-width: 375px) {
    ul#landingSocial {
        padding: 4em;
    }
}

@media screen and (min-width: 425px) {
    ul#landingSocial {
        padding: 6em;
    }
}

@media screen and (min-width: 560px) {
    ul#landingSocial {
        padding-left: 10em;
    }    
}

@media screen and (min-width: 768px) {
    #footerLanding {
        margin-top: 2em;
    }

    ul#landingSocial {
        padding-left: 16.5em;
    }
}

@media screen and (min-width: 888px) {
    ul#landingSocial {
        padding-left: 20em;
    }
}

@media screen and (min-width: 940px) {
    ul#landingSocial {
        padding-left: 23em;
    }
}

@media screen and (min-width: 1024px) {
    ul#landingSocial {
        padding-left: 25em;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1430px) {
    ul#landingSocial {
        padding-left: 32em;
    }
}

@media screen and (min-width: 1435px) {
    ul#landingSocial {
        padding-left: 37em;
    }
}


@media screen and (min-width: 1440px) {
    ul#landingSocial {
        padding-left: 38em;
    }
}


//Rest of the pages footer
footer#footerPages {
    padding: 1em 1em 1em 0em;
    background-color: $black;
}

#footerPages p {
    color: $white;
}

ul#footerSocial {
    display: inline;
  }

#footerSocial li {
    display: inline;
    margin-left: 25px;
    padding-left: 20px;
  }
  
#footerSocial img {
    width: 50px;
    padding: 0;
    margin: 0;
  }
