@import '../base/_mixins';

#contactForm {
    padding: 1em;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 1px auto;
}

form input, form textarea {
    @include border-radius(5px);
    border: 0;
    padding: 1em;
    display: block;
    width: 90%;
    margin-top: 1em;
    font-family: $secondary-font;
    font-size: 1em;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
    background-color: $white;
    border: 1px solid black;
}

form input:focus, form textarea:focus {
    @include box-shadow(0 0px 2px $yellow !important);
}

form #input-submit {
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  text-align: center;
  border: 1px solid $black;
  cursor: pointer;  
  background-color: transparent;
  }

form #input-submit:hover {
    background-color: $yellow;
    @include text-shadow;
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: $black;
    color: $white !important;
}

form textarea {
  height: 200px;
}

.half {
  float: left;
  width: 46%;
  margin-bottom: 1em;
}

.right {
  width: 48%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}