//Navbar Variables
$transitionOne: background 0.5s ease-in-out, opacity 0.5s;
$transitionTwo: background 0.5s ease-in-out, visibility 0.5s;

html, body {
    height: 100%;
    margin: 0;
    background-color: grey; 
}

header{
    width: 100%;
}

div.topLogo{
  width: 80px;
  padding: 1em;
  float: left;
  margin: 1em;
  position: relative;
  z-index: 999;
  cursor: pointer;
  display: block;
}

nav.menu-toggle{
    width: 60px;
    height: 40px;
    padding: 10px 12px 0 0px;
    float: right;
    margin: 30px 30px 0 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

nav.menu-toggle div.strokes {
    width: 100%;
    height: 6px;
    margin: 0 0 6px 12px;
    background: $yellow;
    transition:  transform 0.3s, opacity 0.1s;
}

.hide{
    opacity: 0;
    transform:  translateX(-42px);
}

.animate0{
    transform: rotate(45deg) translateY(17px);
}

.animate2{
    transform: rotate(-45deg) translateY(-17px);
}

.menu-overlay{
    background-color: rgba(52, 152, 219, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    -webkit-transition: $transitionOne;
    -moz-transition: $transitionOne;
    -ms-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
    text-align: center
}

.menu-overlay.show{
    display: block;
    background-color: rgba(52, 152, 219, 0.9);
    -webkit-transition: $transitionTwo;
    -moz-transition: $transitionTwo;
    -ms-transition: $transitionTwo;
    -o-transition: $transitionTwo;
    transition: $transitionTwo;
    z-index: 998;
}

.menu-overlay ul{
    padding-top: 40%;
    list-style-type: none;
}

.menu-overlay li {
  padding-bottom: 10px;
}

.menu-overlay li a{
    visibility: inherit;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;   
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 150%;
}

.selected {
  text-decoration: line-through;
}

//Nav Hover
.menu-overlay ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  margin: 0 10px;
}
.menu-overlay ul li a,
.menu-overlay ul li a:after,
.menu-overlay ul li a:before {
  transition: all .5s;
}
.menu-overlay ul li a:hover {
  color: $white;
}


/* stroke */
div.stroke-hover ul li a { 
  position: relative;
}
div.stroke-hover ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $white;
  height: 1px;
}

div.stroke-hover ul li a:hover:after {
  width: 50%;
}

//Social
#navSocial li {
  display: inline-block;
}

#navSocial img {
  width: 50px;
}