//Navbar Variables
$transitionOne: background 0.5s ease-in-out, opacity 0.5s;
$transitionTwo: background 0.5s ease-in-out, visibility 0.5s;

body {
  background-color: $black;
}

div.topLogo{
  width: 60px;
  float: left;
  margin: 2em;
  position: relative;
  cursor: pointer;
  display: block;
  z-index: 999;
}

@media screen and (min-width: 1024px){
  div.topLogo{
    float: left;
    margin: 2em 0 0 4em;
  }
}

nav.menu-toggle{
    width: 50px;
    height: 40px;
    padding: 10px 12px 0 0px;
    float: right;
    margin: 30px 10px 0 10px;
    position: relative;
    cursor: pointer;
    z-index: 999;
}

nav.menu-toggle div.strokes {
    width: 100%;
    height: 6px;
    margin: 0 0 6px 12px;
    background: $yellow;
    transition:  transform 0.3s, opacity 0.1s;
}

.hide{
    opacity: 0;
    transform:  translateX(-42px);
}

.animate0{
    transform: rotate(45deg) translateY(17px);
}

.animate2{
    transform: rotate(-45deg) translateY(-17px);
}

.menu-overlay{
    background-color: rgba(58, 58, 58, 0.644);
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    position: absolute;
    display: none;
    -webkit-transition: $transitionOne;
    -moz-transition: $transitionOne;
    -ms-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
    text-align: center;
    padding-right: 10px;
}

.menu-overlay.show{
    display: block;
    background-color: $black;
    -webkit-transition: $transitionTwo;
    -moz-transition: $transitionTwo;
    -ms-transition: $transitionTwo;
    -o-transition: $transitionTwo;
    transition: $transitionTwo;
    z-index: 998;
}


.menu-overlay ul {
  padding: 5em 5em 0 5em;
  list-style-type: none;
  margin-top: 7em;
}

.menu-overlay li {
  padding-bottom: 10px;
}

.menu-overlay li a{
    visibility: inherit;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;   
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 150%;
}

//Nav Hover
.menu-overlay ul li a {
  margin: 10em;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  margin: 0 10px;
}
.menu-overlay ul li a,
.menu-overlay ul li a:after,
.menu-overlay ul li a:before {
  transition: all .2s;
}
.menu-overlay ul li a:hover {
  color: $white;
}


div.stroke-hover ul li a:hover {
  text-decoration: line-through;
  color: $yellow;
}



//Social
ul#navSocial {
  margin: 0;
  padding: 0;
}

#navSocial li {
  display: inline-block;
}

#navSocial img {
  width: 40px;
}

.menu-overlay ul li {
  display: inline;
}

@media screen and (min-width: 768px) {
  .menu-overlay{
    top: 0;
    left: 65%;
    width: 40%;
    text-align: left;
    box-shadow: 0 0 3px 0 $white;
  }

  ul#navMenu {
    padding: 1em 0 0 1.5em;
  }
  
  ul#navSocial {
    padding-left: 30px;
  }
  
  ul#navSocial img {
    width: 30px;
  }

  div.stroke-hover ul li a:after {
    right: 120px;
    width: 0%;
  }
  
  div.stroke-hover ul li a:hover:after {
    width: 60%;
  }

  div#bottomSocial {
    margin: 0;
  }

}

@media screen and (min-width: 1024px) {
  .menu-overlay{
    top: 0;
    left: 70%;
    width: 40%;
    text-align: left;
    padding-left: 20px;
  }

  ul#navMenu {
    padding-left: 30px;
  }
  .menu-overlay ul {
    padding-left: 20px;
  }

  div#bottomSocial {
    margin-top: 0;
}
}

@media screen and (min-width: 1300px) {
  .menu-overlay{
    top: 0;
    left: 80%;
    width: 30%;
    text-align: left;
    padding-left: 20px;
  }
}