/*= Skills */
.skillbar-wrap {
	margin: 2em auto;
	max-width: 960px;
}

.skillbar {
	position:relative;
	margin-bottom: 15px;
	width: 100%;
	background: $grey;
	height: 30px;
	border-radius: 3px;	
}

.skillbar-title {
	position:absolute;
	width:110px;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 13px;
	color: $white;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height:30px;
	line-height: 30px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height: 30px;
	width: 0%;
	border-radius: 3px;
	transition: 200ms ease-in;
	transition-property: width, background-color;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 30px;
	line-height: 30px;
	color: rgba( 0, 0, 0, 0.4 );
	transition: color 400ms ease-in;
}

.complete .skill-bar-percent {
	color:$black;
}

$complete: #333333;
$orange: #d37000;
$red: #d43227;

.complete.server .skill-bar-percent {
	color: $complete;
}

.skillbar-title {
	background: $black;	
}

.skillbar-bar {
	background: $red;	
}

