
#videoPlayer {
  width: 100%;
  background-color: $black;
}
/**********Homepage*********/
video {
  width: 100%;
}

#vidControls {
  margin-left: 2em;
}

/*Video Player*/
input[type=range] {
  -webkit-appearance: none;
  width: 45%;
  margin: 5.65px 0;
}

input[type=range]#volumeBar {
  -webkit-appearance: none;
  width: 10%;
  margin: 5.65px 0;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $white;
  border-radius: 2.8px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b77baf;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #b271a9;
  border-radius: 2.8px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 13px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.76);
  cursor: pointer;
  height: 8.7px;
}

/*Video Player End*/

i.fa.fa-expand-arrows-alt {
  color: $black;
}

i.fas.fa-volume-up {
  color: $black;
}

i.fas.fa-play {
  color: $black;
}

i.fas.fa-pause {
  color: $black;
}

i.fas.fa-step-backward {
  color: $black;
}

i.fas.fa-volume-off {
  color: $black;
}