@import '_vars';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html body {
    background-color: $black;
}
body {
    padding: 0;
    font-size: rem-calc(16);
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

footer,
main,
menu,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.align-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

hr {
    margin-bottom: rem-calc(50);
    border-width: 1px 0 0;
    border-color: rgba(255,255,255, 0.2);
    width: rem-calc(200);
    color: $white;
}

.yellow {
    color: $yellow;
}

h1,h2,h3,h4,h5 {
    font-family: $primary-font;
}

p, span, a, ul, li, button {
    font-family: $secondary-font;
}