//Colour Scheme
$white: #f7f7f7;
$grey: #dfdfdf;
$black: #1c1c1c;
$yellow: #FDD953;

//Font
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

//Global
.selected {
    text-decoration: line-through;
}