@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato');

//Colour Scheme
$white: #f7f7f7;
$grey: #dfdfdf;
$black: #1c1c1c;
$yellow: #FDD953;

//Font
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

//Global
.selected {
    text-decoration: line-through;
}

h1,h2,h3,h4,h5 {
    font-family: $primary-font;
}

p, a, span, button {
    font-family: $secondary-font;
}