#aboutIntro {
    background-color: $white;
    padding: 1em 1em 0 1em;
}

#aboutOffer {
    background-color: $yellow;
    margin: 0;
    overflow: hidden;
}

#aboutSkills {
    background-color: $white;
    overflow: hidden;
}

#testimonials {
    background-color: $yellow;
    overflow: hidden;
}