#aboutIntro {
    background-color: $white;
    padding: 1em 1em 0 1em;
}

#nameText {
    width: 100%;
    padding: 1em 1em 0 1em;
}

@media screen and (min-width: 768px){
    #nameText {
        width: 100%;
        text-align: center;
    }
}

#aboutOffer {
    background-color: $yellow;
    margin: 0;
    overflow: hidden;
}

#aboutOffer ul li {
    list-style-type: none;
}

#aboutOffer ul li img {
    width: 20%;
}

#aboutSkills {
    background-color: $white;
    overflow: hidden;
    padding: 1em;
}

#testimonials {
    background-color: $yellow;
    overflow: hidden;
}

#aboutIntro p {
    margin-top: 2em;
}