main {
    margin: 0;
}
#portfolio {
    background-color: $white;
    overflow: hidden;
}

.workSection {
    background-color: $white;
}

.workSection ul {
    padding: 0;
}

.workSection ul li {
    padding: 1em;
    display: inline;
}

.workSection ul li img {
    margin: 1em 0 1em 0;
    width: 90%;
}

@media screen and (min-width: 768px){
    .workSection ul {
        padding-left: 2em;
    }
    
    .workSection ul li img {
        margin: 1em 0 1em 0;
        width: 40%;
    }
}

@media screen and (min-width: 1024px){
    .workSection ul {
        padding-left: 5em;
    }
}

@media screen and (min-width: 1440px){
    .workSection ul {
        padding-left: 8em;
    }
}