main {
    margin: 0;
}

.workSection {
    background-color: $white;
}

.workSection h2 {
    color: $black;
    font-family: $primary-font;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 1em 0 1em;
}
.workSection ul {
    padding: 0;
}

.workSection ul li {
    padding: 1em;
    display: inline;
}

.workSection ul li img {
    margin: 1em 0 1em 0;
    width: 90%;
}

@media screen and (min-width: 768px){
    .workSection ul {
        padding-left: 4em;
    }
    
    .workSection ul li img {
        margin: 1em 0 1em 0;
        width: 40%;
    }
}

@media screen and (min-width: 1024px){
    .workSection ul {
        padding-left: 5em;
    }
}

@media screen and (min-width: 1435px){
    .workSection ul {
        padding-left: 10em;
    }
}

#portfolioSection {
    margin-top: 1em;
}


div.back-text a {
    margin-left: 1em;
    text-decoration: none;
    color: $black;
    text-shadow: 2px 2px 8px rgba(99, 85, 21, 0.74);
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 2em;
}

div.back-text a:hover {
    color: $yellow;
}


div.back-text i {
    color: $black;
    text-shadow: 2px 2px 8px rgba(99, 85, 21, 0.74);
}

div.back-text i:hover {
    color: $yellow;
}